@model IEnumerable<WebMvcStajOdevi.Models.Firmalar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Isim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sehir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ilce)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kabul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Memnun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Konu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beklenti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calisan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Isim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sehir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ilce)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kabul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Memnun)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Konu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beklenti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calisan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
